.home_page{
    background-color: rgb(10,10,10);
    color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
}

.home_title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 7vh;
    text-align: center;
    padding: 2%;
}

.home_season_select{
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.video_all{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.video_back{
    padding-top: 3%;
    padding-left: 20%;
    padding-bottom: 2%;
    font-size: 3vh;
    cursor: pointer;
}
.video_back:hover{
    text-decoration: underline;
}

.video{
    align-items: center;
    text-align: center;
    height: 70%;
}

.entering {
    text-align: center;
    padding: 5%;
    background-color: black;
    height: 100vh;
  }
.password{
    color: white;
}

.connection_false{
    background-color: rgb(250, 100, 100);
    color: black;
}
.connection_true{
    background-color: rgb(100, 250, 100);
    color: black;
}